@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

body {
  background-color: #000;
  font-family: Arial, sans-serif;
  color: #9c9c9c;
  font-size: 15px;
  line-height: 1.7;
}

.add-color {
  color: #bf9a47;
}
a {
  color: #bf9a47;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #fff;
  margin: 0 0 1em 0;
  line-height: 1.5;
  text-transform: uppercase;
}

h1 {
  font-size: 29px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 23px;
}
h4 {
  font-size: 21px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 15px;
}

p {
  margin-bottom: 1rem;
}

/* Buttons */

.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem 1rem;
  color: #fff;
  border-radius: 5px;
  position: relative;
}

.btn-outline {
  background-color: transparent;
  color: #bf9a47;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}
.btn-outline:hover {
  background-color: #bf9a47;
  color: #fff;
}
.btn-outline::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  border: 1px solid #bf9a47;
  border-radius: 5px;
}
.btn-primary {
  background-color: #bf9a47;
  transition: background-color 0.3s ease-in-out;
}
.btn-primary:hover {
  background-color: #b88516;
}

/* Navi */

.navi a {
  padding: 1rem;
  display: inline-block;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
  color: #9c9c9c;
}
.navi a:hover {
  color: #bf9a47;
}
.hero-img {
  position: relative;
}

/* Hero */

.hero-title {
  font-size: 24px;
  margin-bottom: 1rem;
}

.hero-img::after {
  content: "";
  display: none;
  position: absolute;
  top: 0.8rem;
  left: -0.8rem;
  width: 100%;
  height: 100%;
  border: 1px solid #bf9a47;
  border-radius: 5px;
}
.hero-img img {
  border-radius: 5px;
  position: relative;
  z-index: 10;
}

@media screen and (min-width: 400px) {
  .hero-title {
    font-size: 26px;
  }
}
@media screen and (min-width: 640px) {
  .hero-title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-img::after {
    display: block;
  }
}

.styled {
  position: relative;
}

.styled::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  border-bottom: 1px solid #bf9a47;
}
.styled::before {
  content: "";
  position: absolute;
  bottom: -13px;
  right: 3rem;
  width: 25px;
  height: 25px;
  border-radius: 99rem;
  display: block;
  border: 1px solid #bf9a47;
  z-index: 20;
}

.title::after {
  content: "";
  width: 100px;
  height: 1px;
  display: block;
  background-color: #bf9a47;
  margin-top: 0.8rem;
}
.styled-img {
  border-radius: 5px;
}

.list li {
  padding-left: 1.5rem;
  position: relative;
}
.list li::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #bf9a47;
  border-radius: 99rem;
  position: absolute;
  top: 9px;
  left: 0;
}

@media screen and (min-width: 1024px) {
  .styled-img {
    min-height: 600px;
  }
}

/* Footer */

.footer {
  background-color: #070707;
  border-top: 1px solid #bf9a47;
}

.google-map {
  flex-grow: 1;
  border-radius: 5px;
  height: 250px;
}
.footer-line {
  padding: 1.5rem 0;
  border-top: 1px solid #131313;
  text-align: center;
}

.go-up {
  background-color: #bf9a47;
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.go-up:hover {
  transform: scale(1.1);
}

.reg-navi li {
  padding: 0.2rem 0;
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
}
.reg-navi img {
  transform: translateY(5px);
}
.reg-navi a {
  color: #9c9c9c;
  display: block;
  transition: all 0.3s ease-in-out;
}
.reg-navi a:hover {
  color: #bf9a47;
}

@media screen and (min-width: 640px) {
  .footer-line {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-line p {
    margin-bottom: 0;
  }
}

.list-wrapper h6 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.list-wrapper img {
  border-radius: 5px;
}

.spec-block {
  position: relative;
}

.spec-block .text-over {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background-color: #bf9a47;
  color: #fff;
  padding: 0 0.5rem;
  border-radius: 5px;
  font-size: 0.875rem;
}

.mob-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.mob-header h5 {
  color: #fff;
  margin-bottom: 0;
}

.open-btn,
.close-btn {
  cursor: pointer;
}

.mob-wrapper {
  position: fixed;
  transform: translateX(-100%);
  visibility: hidden;
  left: 0;
  top: 0;
  width: 360px;
  max-width: 85%;
  height: 100%;
  background-color: #333333;
  z-index: 999;
  padding: 4rem 3rem 3rem 3rem;
  color: #c0c0c0;
  transition: all 0.3s ease-in-out;
}
.mob-wrapper.active {
  visibility: visible;
  transform: translateX(0%);
}

.mob-navi {
  margin-top: 1.5rem;
}

.mob-navi a {
  display: block;
  padding: 0.5rem 0;
}

.overlay.active {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.4);
}
.overlay {
  position: fixed;
  inset: 0;
  cursor: pointer;
  z-index: 998;
  visibility: hidden;
  transition: background-color 0.3s ease-in-out;
}
